body {
  margin: auto;
  width: 90%;
  font-family: 'Special Elite', cursive;
  background-color: bisque;
}

h1{  
  margin: 0;
  padding: 1% 0 1% 0;
  text-align: center;
}

.flex-container {
  margin: 0 auto;
}
  
.controls { 
  text-align: center;
}

form p {
  margin: 0;
  padding: 1%;
}

.results {
  margin: 1% 0 1% 0;
}

/*
.navbar {
  display: block;
  margin: 1% 0;
  padding: 1%;
}
*/

nav {
  display: block;
  align-content: center;
  margin: 1% 0;
  padding: 1%;
}
  
.prev {
  float: left;
}
  
.next {
  float: right;
}
  
article {  
  flex: 1;  
  /*padding: 1% 0 0 0;*/
  margin-bottom: 2%;
  background-color: #ddd;
}

/*
.imgcontainer {
}
*/

img {  
  float: left;
  background-color: white;
  padding: 8px;
  max-width: 25%;
  margin: 2%;
}  

.txtcontainer {
  padding: 2% 0 0 0;
  /*display: block;*/
}


h3 { 
  margin: 1% 2% 0 0;
  padding: 0 0 0 1%;
}

article p { /*Keywords: */
  /*padding: 0 0 0 1%;*/
  font-size: 14px;
  line-height: 1.5;
  color: black;
  padding: 0.5%;
  margin: 0.5%;
}

span {
  color: red;
  background-color: #ccc;
  padding: 0.5%;
  margin: 0.5%;
}

.clearfix {
  clear: both;
}