body {
  margin: auto;
  width: 90%;
  font-family: 'Special Elite', cursive;
  background-color: bisque;
}

h1{  
  margin: 0;
  padding: 1% 0 1% 0;
  text-align: center;
}

.flex-container {
  margin: 0 auto;
}
  
.controls { 
  text-align: center;
}

form p {
  margin: 0;
  padding: 1%;
}

.results {
  margin: 1% 0 1% 0;
}
  
article {  
  flex: 1;  
  /*padding: 1% 0 0 0;*/
  margin-bottom: 2%;
  background-color: #ddd;
}

img {  
  float: left;
  background-color: white;
  padding: 8px;
  max-width: 100%;
  margin: 2%;
}  

.txtcontainer {
  padding: 2% 0 0 0;
  /*display: block;*/
}

h3 { 
  margin: 1% 2% 0 0;
  padding: 0 0 0 1%;
}

.clearfix {
  clear: both;
}